[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PLindleyROC"]
	path = PLindleyROC
	url = https://github.com/ertansu/plindleyroc
[submodule "ROCsurf"]
	path = ROCsurf
	url = https://github.com/ertansu/rocsurf
